@(title: String)(content: Html)


<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
    <head>

            <!-- Basic Page Needs
================================================== -->
        <meta charset="utf-8">
        <title>@title</title>

            <!-- Mobile Specific
================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

            <!-- CSS
================================================== -->
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/style.css")'>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/boxed.css")'>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/colors/green.css")'>

            <!-- Java Script
================================================== -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


        <script src='@routes.Assets.at("javascripts/custom.js\"")'></script>
        <script src='@routes.Assets.at("javascripts/selectnav.js\"")'></script>
        <script src='@routes.Assets.at("javascripts/flexslider.js\"")'></script>
        <script src='@routes.Assets.at("javascripts/twitter.js\"")'></script>
        <script src='@routes.Assets.at("javascripts/tooltip.js\"")'></script>
        <script src='@routes.Assets.at("javascripts/effects.js\"")'></script>
        <script src='@routes.Assets.at("javascripts/fancybox.js\"")'></script>
        <script src='@routes.Assets.at("javascripts/carousel.js\"")'></script>
        <script src='@routes.Assets.at("javascripts/isotope.js\"")'></script>
        <script src='@routes.Assets.at("javascripts/jquery-easing-1.3.js.js\"")'></script>
        <script src='@routes.Assets.at("javascripts/jquery-transit-modified.js\"")'></script>
        <script src='@routes.Assets.at("javascripts/layerslider.transitions.js\"")'></script>
        <script src='@routes.Assets.at("javascripts/layerslider.kreaturamedia.jquery.js.js\"")'></script>
        <script src='@routes.Assets.at("javascripts/greensock.js\"")'></script>







    </head>
    <body>

            <!-- Wrapper Start -->
        <div id="wrapper">


                <!-- Header
================================================== -->

                <!-- 960 Container -->
            <div class="container ie-dropdown-fix">

                    <!-- Header -->
                <div id="header">

                        <!-- Logo -->
                    <div class="eight columns">
                        <div id="logo">
                            <a href="#"><img src='@routes.Assets.at("images/logo.png")' alt="logo" /></a>

                            <div id="tagline">It's time to impress your visitors!</div>
                            <div class="clear"></div>
                        </div>
                    </div>

                        <!-- Social / Contact -->
                    <div class="eight columns">

                            <!-- Social Icons -->
                        <ul class="social-icons">
                            <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                            <li><a class="dribbble" href="#"><i class="icon-dribbble"></i></a></li>
                            <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
                        </ul>

                        <div class="clear"></div>

                            <!-- Contact Details -->
                        <div id="contact-details">
                            <ul>
                                <li><i class="fa  fa-envelope"></i><a href="#">luis@@algebracode.com</a></li>
                                <li><i class="fa fa-phone"></i>+48 880 450 120</li>
                            </ul>
                        </div>

                    </div>

                </div>
                    <!-- Header / End -->

                    <!-- Navigation -->
                <div class="sixteen columns">

                    <div id="navigation">
                        <ul id="nav">

                            <li><a id="current" href="index.html">Home</a></li>

                            <li><a href="#">Features</a>
                                <ul>
                                    <li><a href="full_width.html">Full Width</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="pricing_tables.html">Pricing Tables</a></li>
                                    <li><a href="flexslider.html">FlexSlider</a></li>

                                    <li><a href="#">Page Templates</a>
                                        <ul>
                                            <li><a href="sidebar_right.html">Sidebar Right</a></li>
                                            <li><a href="sidebar_left.html">Sidebar Left</a></li>
                                            <li><a href="blog_post.html">Single Post</a></li>
                                            <li><a href="single_project.html">Single Project</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li><a href="shortcodes.html">Shortcodes</a></li>

                            <li><a href="#">Portfolio</a>
                                <ul>
                                    <li><a href="portfolio_2.html">2 Columns</a></li>
                                    <li><a href="portfolio_3.html">3 Columns</a></li>
                                    <li><a href="portfolio_4.html">4 Columns</a></li>
                                    <li><a href="single_project.html">Single Project</a></li>
                                </ul>
                            </li>

                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>

                        </ul>

                            <!-- Search Form -->
                        <div class="search-form">
                            <form method="get" action="#">
                                <input type="text" class="search-text-box" />
                            </form>
                        </div>

                    </div>
                    <div class="clear"></div>

                </div>
                    <!-- Navigation / End -->

            </div>
                <!-- 960 Container / End -->


                <!-- Content
================================================== -->

                <!-- LayerSlider Container -->
            <div class="layerslider-container">

            @content




            </div>
                <!-- LayerSlider Container / End -->


                <!-- 960 Container -->
            <div class="container">

                    <!-- Icon Boxes -->
                <div class="icon-box-container">

                        <!-- Icon Box Start -->
                    <div class="one-third column">
                        <div class="icon-box">
                            <i class="fa fa-paint-brush"></i>
                            <h3>Clean Design</h3>
                            <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora suscipit maecenas entum suscipit odio rhoncus posuere tincidunt.</p>
                        </div>
                    </div>
                        <!-- Icon Box End -->

                        <!-- Icon Box Start -->
                    <div class="one-third column">
                        <div class="icon-box">
                            <i class="fa fa-cogs"></i>
                            <h3>Responsive</h3>
                            <p>Nam aliquam volutpat leo bibendum nunc elit purus, tempus pulvinare rhoncus suscipit maecenas egestas nibh volutpat leo.</p>
                        </div>
                    </div>
                        <!-- Icon Box End -->

                        <!-- Icon Box Start -->
                    <div class="one-third column">
                        <div class="icon-box">
                            <i class="fa fa-magic "></i>
                            <h3>Retina Ready</h3>
                            <p>Fusce porttitor turpis quis molestie costant equat. Nam purus, suscipit maecenas tincidunt sedeat dapibus ugravida ut dui. </p>
                        </div>
                    </div>
                        <!-- Icon Box End -->

                </div>
                    <!-- Icon Boxes / End -->

            </div>
                <!-- 960 Container / End -->

                <!-- 960 Container -->
            <div class="container">

                <div class="sixteen columns">
                        <!-- Headline -->
                    <div class="headline no-margin"><h3>Recent Work</h3></div>
                </div>

                    <!-- Project -->
                <div class="four columns">
                    <div class="picture"><a href="single_project.html"><img src='@routes.Assets.at("images/portfolio/portoflio-09.jpg")' alt=""/><div class="image-overlay-link"></div></a></div>
                    <div class="item-description">
                        <h5><a href="#">Muchos limones</a></h5>
                        <p>Mauris sit amet ligula est, eget conseact etur lectus maecenas hendrerit suscipit.</p>
                    </div>
                </div>

                    <!-- Project -->
                <div class="four columns">
                    <div class="picture"><a href="images/portfolio/portoflio-08-large.jpg" rel="image" title="Coffee Time"><img src='@routes.Assets.at("images/portfolio/portoflio-08.jpg")' alt=""/><div class="image-overlay-zoom"></div></a></div>
                    <div class="item-description">
                        <h5><a href="#">Coffee Time</a></h5>
                        <p>Amet sit lorem ligula est, eget conseact etur lectus hendrerit suscipit maecenas.</p>
                    </div>
                </div>

                    <!-- Project -->
                <div class="four columns">
                    <div class="picture"><a href="single_project.html"><img src='@routes.Assets.at("images/portfolio/portoflio-10.jpg")' alt=""/><div class="image-overlay-link"></div></a></div>
                    <div class="item-description">
                        <h5><a href="#">Surfing The Web</a></h5>
                        <p>Lorem sit amet ligula est, eget conseact etur lectus maecenas hendrerit suscipit.</p>
                    </div>
                </div>

                    <!-- Project -->
                <div class="four columns">
                    <div class="picture"><a href="single_project.html"><img src='@routes.Assets.at("images/portfolio/portoflio-07.jpg")' alt=""/><div class="image-overlay-link"></div></a></div>
                    <div class="item-description">
                        <h5><a href="#">Wireless Keyboard</a></h5>
                        <p>Ligula mauris sit amet est eget consat etur lectus maecenas hendrerit suscipit.</p>
                    </div>
                </div>

            </div>
                <!-- 960 Container / End -->


                <!-- 960 Container -->
            <div class="container">
                <div class="sixteen columns">

                        <!-- Headline -->
                    <div class="headline no-margin"><h3>Our Clients</h3></div>

                    <ul class="client-list">
                        <li><img src='@routes.Assets.at("images/logo-01.png")' alt=""/></li>
                        <li><img src='@routes.Assets.at("images/logo-02.png")' alt=""/></li>
                        <li><img src='@routes.Assets.at("images/logo-03.png")' alt=""/></li>
                        <li><img src='@routes.Assets.at("images/logo-04.png")' alt=""/></li>
                        <li><img src='@routes.Assets.at("images/logo-05.png")' alt=""/></li>
                    </ul>

                </div>
            </div>
                <!-- 960 Container / End -->

        </div>
            <!-- Wrapper / End -->


            <!-- Footer
================================================== -->

            <!-- Footer Start -->
        <div id="footer">
                <!-- 960 Container -->
            <div class="container">

                    <!-- About -->
                <div class="four columns">
                    <div class="footer-headline"><h4>About Us</h4></div>
                    <p>Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Aenean nisl orci, condimentum.</p>
                    <p>Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum adipiscing lipsum aenean orci lorem.</p>
                </div>

                    <!-- Useful Links -->
                <div class="four columns">
                    <div class="footer-headline"><h4>Useful Links</h4></div>
                    <ul class="links-list">
                        <li><a href="#">Service Updates</a></li>
                        <li><a href="#">Community Forum</a></li>
                        <li><a href="#">Help Desk</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Validate License</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Knowledgebase</a></li>
                    </ul>
                </div>

                    <!-- Photo Stream -->
                <div class="four columns">
                    <div class="footer-headline"><h4>Photo Stream</h4></div>
                    <div class="flickr-widget">

                        <div class="clear"></div>
                    </div>
                </div>

                    <!-- Latest Tweets -->
                <div class="four columns">
                    <div class="footer-headline"><h4>Latest Tweets</h4></div>
                    <ul id="twitter"></ul>
                    <script type="text/javascript">
                            jQuery(document).ready(function($){
                                $.getJSON('twitter.php?url='+encodeURIComponent('statuses/user_timeline.json?screen_name=Vasterad&count=2'), function(tweets){
                                    $("#twitter").html(tz_format_twitter(tweets));
                                }); });
                    </script>
                    <div class="clear"></div>
                </div>

                    <!-- Footer / Bottom -->
                <div class="sixteen columns">
                    <div id="footer-bottom">
                        © Copyright 2015 by <a href="#">Vasterad</a>. All rights reserved.
                        <div id="scroll-top-top"><a href="#"></a></div>
                    </div>
                </div>

            </div>
                <!-- 960 Container / End -->

        </div>
            <!-- Footer / End -->


            <!-- Styles Switcher
================================================== -->



    </body>
</html>
